p Dear #{name}, thank you for ordering with Primal Printing NZ.

p Your order details are as follows:
p Order id: #{orderId}
p Items:
p !{items}
p Price: #{price}

p If you wish to continue with your order please transfer #{price} to 02-0112-0140104-04 with the reference #{orderId}. Please put Ryan Guo as the Payee Name.

p Afterwards, please pick a time to pick up your order here:
a(href="https://calendly.com/ryanguo02/printing-pick-up") https://calendly.com/ryanguo02/printing-pickup
p If you have any issues or queries, please email us at
a(href="mailto:primalprintingnz@gmail.com") primalprintingnz@gmail.com
| or text us on 02108678038

p Thank you once again for your support :))

p Best,
p Ryan
